/* CSS Variablea */
:root {
    ---primary-color: #1b4965;
    ---secondary-color: #62b6cb;
    ---accent1-color: #cae9ff;
    ---accent2-color: #ffffff;

    ---heading-font: Arial, sans-serif;
    ---body-font: Verdana, Geneva, sans-serif;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: var(---body-font);
    color: var(---accent1-color);
    background-color: var(---accent2-color);
}

/* Layout width */
header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    margin: 16px;
    text-decoration: none;
    color: var(---primary-color);
    font-weight: bold;
}

/* Headings */
h1,
h2 {
    font-family: var(---heading-font);
    color: #1b4965;
}

/* Spacing */
nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

/* Heroo section */
.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: #1b4965;
    color: #fff;
    opacity: 0.8;
}

/* hero article */
.hero article {
    position: absolute;
    bottom: 20px;
    background-color: rgb(255, 255, 255, 0.8);
    color: #000;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 8px;
    border: 1px solid #000;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.socialmeadia img {
    width: 32px;
    margin: 8px;
}