/* CSS Variablea */
:root {
    --primary-color: #1b4965;
    --secondary-color: #62b6cb;
    --accent1-color: #cae9ff;
    --accent2-color: #ffffff;

    --heading-font: Arial, sans-serif;
    --body-font: Verdana, Geneva, sans-serif;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: var(--accent2-color);
}

/* Layout width */
header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    margin: 16px;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
}

/* Headings */
h1,
h2 {
    font-family: var(--heading-font);
    color: #1b4965;
}

/* Spacing */
nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

header img {
    width: 120px;
    height: ;
}

/* Heroo section */
.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
    max-height: 500px;
    object-fit: cover;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    background-color: rgba(27, 73, 101, 0.8);
    color: #fff;
    padding: 16px;
}

.hero article {
    position: absolute;
    bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 8px;
}

.hero article img {
    max-width: 80px;
    /* smaller employee image */
    height: auto;
    float: right;
    margin-left: 10px;
}

.socialmedia {
    display: flex;
    align-items: center;
}

.socialmedia img {
    width: 24px;
    /* adjust smaller if needed */
    height: 24px;
    margin: 4px;
}