/* CSS Variables */
:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #254653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", Georgia, serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

/* Page width */
header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
    padding: 1rem;
}

header img {
    width: 80px;
}

#logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

/* Navigation */
.navigation {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.navigation a {
    text-decoration: none;
    color: var(--accent1-color);
    font-weight: 600;
}

/* Headings */
h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

/* Sections */
section,
article,
p {
    margin: 16px;
}

/* Hero section */
.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: var(--accent2-color);
    padding: 1rem;
    max-width: 500px;
}

.hero article img {
    float: right;
    width: 180px;
    margin-left: 10px;
}

/* Adventure section  */
.adventure-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    margin: 1rem;
}

.adventure-grid img {
    width: 100%;
    height: auto;
}

figcaption {
    text-align: center;
    font-weight: 600;
    margin-top: 0.5rem;
}

/* Footer */
footer {
    display: flex;
    background-color: var(--accent2-color);
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

/* Social media */
.socialmedia {
    display: flex;
    align-items: center;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 24px;
    height: 24px;
    margin: 4px;
}