/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout width control */
header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

/* Body */
body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

/* Navigation */
nav {
    background-color: lightpink;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

/* Heading */
h1 {
    color: lightcoral;
    padding: 2rem;
    border-bottom: 1px solid #eee;
}

/* Grid Layout */
.grid {
    display: grid;
    grid-template-columns: 1fr 3fr; /* aside | main */
    gap: 1rem;
    margin: 1rem auto;
}

/* Main */
main {
    padding: 1rem;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 20px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

/* Paragraphs */
p {
    margin-top: 0;
}

/* Aside */
aside {
    grid-column: 1;
    width: 20em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    margin-bottom: 0.5rem;
}

/* Footer */
footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

/* class sectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: rgb(175, 148, 175);
    color: #eee;
}

.indent {
    padding-left: 2rem;
}
